:root{
    --blue: #2B2D42;
    --blue2: #8D99AE;
    --blue3:#234063;
    --blue4:#1E2D3F;
    --white: #EDF2F4;
}
/*Formatações para evitar css-inline*/
.blue2{color: #234063}
.text-underline{text-decoration: underline;}
.bold{font-weight: bolder;}

/*Fim das formatações*/

/* formata o site para todos ficarem em uma posição "Reset", alguns navegadores possuem um
    CSS por padrão, isso remove eles*/
*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: "montserrat";
    height: 100%;
}
#botaoScroll{
    position: fixed;
    border: none;
    background-color: var(--blue);
    padding:7px 20px;
    border-radius: 20px;
    color: white;
    font-size: 2em;
    z-index: 1000;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    display: none;
    transition: all 0.2s;
    scroll-behavior: smooth;
}
#botaoScroll:hover{
    background-color: var(--blue4);
    transition: all 0.2s;
}
#active{
    border: 2px solid var(--blue3);
    background-color: var(--blue3);
    color: var(--blue2);

}
.header .menuOculto{
    font-weight: bold;
}

.elements-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 7px 10px;
    
}


.left-header-desktop a , .elementsHeader-desktop a{
    margin: 0 10px;
    text-align: center;
}
.elements-header #logo-header img{
    width: 250px;
}

.elementsHeader-desktop{
    display: none;
    justify-content: flex-start;
    
}
.left-header-desktop{
    display: none;
    justify-content: flex-end;
}
.menuOculto a{
    text-decoration: none;
    color: #fff;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 0.4s;
}
.menuOculto a:hover{
    color: var(--blue2);
    background-color: #234063;
}
.btn-close{
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: var(--white);
    cursor: pointer;
    padding: 2px;
    width: 40px;
    transition: 0.5s;
}
.btn-close:hover{
    background-color: #234063;
    border-radius: 10px;
    transition: border 0.5s;

}
.menuOculto{
    height: 100%;
    width: 300px;
    margin-left: -100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E2D3F;
    transition: 0.5s;
    padding-top: 60px;
    transition: border 0.5s;
    text-align: left;
}

#elements-header{
    margin-left: 16px;
}
.footer-menu{
    width: 32rem;
    height: 3vh;
    background-color: var(--blue3);
    border-radius: 0 0 20px 20px;
}
.footer{
    margin-top: 3vh;
    width: 100%;
    background-color: var(--blue3);
    display: flex;
    flex-direction: column;

    color: var(--white);
    font-size: 15px;
}
.elements-footer a, .elements-footer ul{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    color: var(--white);
    margin-bottom: 2rem;
    align-items: center;
    
}
.elements-footer{

    margin: 1rem;
}
.icons-footer{
    display: flex;
    text-decoration: none;
    flex-direction: row;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
}
.icons-footer img{
    margin-right: 30px;
    width: clamp(30px,50%,80px);
}
@media screen and (min-width:768px) {
    .logo{
        flex-grow: 1;
    }
    .elementsHeader-desktop, .left-header-desktop{
        display: flex;
        align-items: center;
    }
    .elements-header{
        white-space: nowrap; /*Evita quebra de linhas*/
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }
    #active{
        border-radius: 4px;
        opacity: 0.8;
        color: var(--blue3);
        background-color: transparent;
        border: 2px solid var(--blue);
    }
    .elementsHeader-desktop a , .left-header-desktop a{
        text-decoration: none;
        color: var(--blue3);
        font-weight: bolder;
        padding:5px;
        font-size: 12px;
    }
    .left-header-desktop .login{
        border: 1px solid var(--blue3);
        border-radius: 4px;
        transition: background-color 0.5s;
    }
    .left-header-desktop .registro{
        color: white;
        background-color: var(--blue3);
        border-radius: 4px;
        transition: opacity 0.5s;
    }
    .left-header-desktop .registro:hover{
        opacity: 0.8;
        transition: opacity 0.5s;
    }
    .left-header-desktop .login:hover{
        background-color: #f1f1f1;
        transition: background-color 0.5s;
    }
    
    .elementsHeader-desktop a:hover{
        opacity: 0.8;
        border-radius: 4px;
        color: var(--blue3);
        background-color: transparent;
        border: 1px solid var(--blue);
    }
    #elements-header{
        display: none;
    }
    .menuOculto{
        display: none;
    }
        .elements-footer ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: normal;
            margin: 20px 20px;
        }
        .elements-footer ul a{
            margin: 0 50px 20px 0;
        }
        
    }
    